@media screen and (max-width:1200px) {
  header {
    justify-content: flex-start !important;
  }

  header #headerLogo {
    display: none;
  }

  header #headerSymbol {
    display: flex !important;
    margin: 0 .5rem !important;
  }
}

/** FOR TABLETS **/
@media screen and (max-width:800px) {}

/** FOR MOBILE PHONES **/
@media screen and (max-width:600px) {
  html, body {
    height: 100% !important;
  }

  header {
    justify-content: space-between !important;
  }

  header img {
    margin: 0 1.25rem !important;
  }

  header #headerLogo {
    display: block !important;
  }

  header #headerSymbol {
    display: none !important;
  }

  .top-nav {
    width: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 3.75rem;
    background-color: #FFF;
    border-bottom: 0.125rem solid #EFEFEF;
    padding: 1.25rem 0;
  }

  .top-nav a {
    text-align: left !important;
    margin-left: 3.75rem;
    padding-bottom: 1.25rem;
  }

  #donate {
    border-top: 0.75rem solid transparent;
    background-clip: padding-box;
    border-bottom: 0.75rem solid transparent;
  }

  header a.icon {
    float: right;
    display: block !important;
  }

  #main {
    padding: 1.25rem !important;
    min-height: 100%;
  }

  #sideNavigation {
    width: 100% !important;
    border: none !important;
  }

  #algoDisplay {
    display: none !important;
  }
}
