/** IMPORT **/
@import "media.css";

/** GLOBAL **/
html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #444;
    position: relative;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

body > section {
    border-bottom: 0.125rem solid #EFEFEF;
}

a {
    text-decoration: none;
    color: #00007F;
}

/** HEADER **/
header {
    min-height: 4.68rem;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 0.125rem solid #EFEFEF;
    position: sticky;
  	top: 0;
}

header img {
    height: 2.5rem;
    margin: 0 3.75rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 3.75rem;
}

nav a {
    margin-left: 3.25rem;
}

header a.icon {
  display: none;
  margin: 0 1.25rem;
  font-size: 1.56rem;
}

/** MAIN **/
#main {
    display: flex;
    flex-direction: row;
    background-color: #F7F7F9;
    align-items: stretch;
    justify-content: space-between;
    padding: 3.75rem;
}

#demo {
    display: flex;
    flex-direction: row;
    border: 0.125rem solid #EFEFEF;
    width: 70%;
}

#code {
    background-color: #EFEFEF;
    height: 31.25rem;
    overflow-y: auto;
    min-width: 300px;
    font-size: 0.75rem;
}

#code pre {
  margin: 0.625rem;
}

#blank {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blank video {
  width: 70%;
  background-color: white;
}

#intro {
    font-size: 1.25rem;
    font-weight: 300;
    padding-left: 3.75rem;
    align-self: center;
    width: 40%;
}

#intro h1 {
  padding: 0;
  margin: 0;
  font-size: 2.375rem;
}

#intro p {
    line-height: 1.9rem;
}

/** ASIDE **/
aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 300;
    color: #00007F;
    text-align: center;
    min-width: 100%;
    border-bottom: 0.125rem solid #EFEFEF;
}

aside i {
    margin: 0.625rem 0.312rem;
    font-size: 1.56rem;
}

#release strong {
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
}

#download a {
  font-weight: bold;
  color: #FFF;
  background-color: #0000FF;
  padding: 1rem 4.625rem;
  font-size: 2.125rem;
  line-height: 4.625rem;
}

#platforms, #release, #download {
    margin: 2.75rem 0;
    flex: 1 1 0;
}

#platforms p {
  padding: 0;
  margin: 0;
}

aside span {
  display: block;
}

/** EMPTY BLOC**/
#empty {
    text-align: center;
    padding: 6.25rem;
}

/** ARTICLES **/
#articles {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 3.75rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 2.625rem;
}

#articles a {
    color: #444;
}

#articles a:hover {
    color: #00007F;
}

#articles h1 {
    grid-row: 1;
    grid-column: 1/4;
    font-size: 2.5rem;
    margin: 0 0 1.625rem 0;
}

#articles article {
    background-color: #F7F7F9;
    padding: 1.25rem;
    text-align: justify;
}

#articles article p {
    color: #A1AEB7;
}

#artFirst, #artSecond, #artThird {
    grid-row: 2;
}

/** INFORMATION **/
#info {
    display: flex;
    flex-direction: row;
}

#info .event {
    margin-bottom: 1.25rem;
}

/** EVENTS **/
#events {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F9;
    padding: 1.25rem 3.75rem;
    width: 50%;
}

.event-grid {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-rows: 1.875rem auto;
    grid-template-areas: "date title" "date description";
}

#events h1 {
    font-size: 2.5rem;
}

.date {
  grid-area: date;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
  justify-self: end;
  padding-right: 0.625rem;
  word-spacing: 9999rem;
  color: #505D68;
}

.title {
    grid-area: title;
    padding-left: 0.625rem;
    border-left: 0.125rem solid #C8C8C8;
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
}

.description {
    grid-area: description;
    margin: 0;
    padding-left: 0.625rem;
    border-left: 0.125rem solid #C8C8C8;
    color: #A1AEB7;
    font-weight: 300;
}

/** TEAM **/
#team {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 3.75rem;
    width: 50%;
}

#team h1 {
  text-align: center;
  font-size: 2.5rem;
}

#team div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#team img {
  height: 5rem;
  margin: 1rem;
}

/** FOOTER **/
footer {
    display: flex;
    min-height: 4.5rem;
    font-size: 1.25rem;
}

footer i {
    color: #FF699B;
}

footer img {
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
}

footer p, footer a, footer span {
    align-self: center;
    flex: 1 1 0;
    text-align: center;
    margin: 20px 0;
}

/** SCROLLBAR DESIGN **/
body::-webkit-scrollbar {
	width: .55rem;
}

::-webkit-scrollbar {
  width: .27rem;
  height: .27rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000FF;
}

#lgpl {
  margin-right: 1rem;
}

/** MODULES **/
.modulesMain {
  padding: 0 !important;
}

/** SIDE NAVIGATION **/
#sideNavigation {
  width: 30%;
  border-right: 0.125rem solid #EFEFEF;
}

/** CATEGORIES TAGS **/
#sideNavigation .categoriesArea {
  background-color: #FFF;
  border: 1px solid #00007F;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem;
}

#sideNavigation .categoriesArea i {
  color: #00007F;
  margin: .4rem;
}

#sideNavigation .categories {
  display: flex;
  flex-wrap: wrap;
}

#sideNavigation .catContainer {
  padding: .2rem;
  margin: .2rem;
  color: black;
}

#sideNavigation .catContainer.solid {
  background-color: lightblue;
}

#sideNavigation .catContainer.electromagnetism {
  background-color: lightyellow;
}

#sideNavigation .catContainer.academic {
  background-color: lightgreen;
}

#sideNavigation .catContainer.validated {
  background-color: lightpink;
}

#sideNavigation .catContainer.fluid {
  background-color: #ff4D4D;
}

/** SEARCH AREA **/
#sideNavigation .searchArea {
  margin: .5rem;
  padding: .2rem;
  background-color: #FFF;
  border: 0.125rem solid #EFEFEF;
}

#sideNavigation .searchArea i {
  color: grey;
}

#sideNavigation .searchArea input {
  border: none !important;
}

/** MODULES LIST **/
#modulesList {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  overflow-y: scroll;
}

#modulesList a {
  margin: .3rem 0;
}

/**  ALGORITHM DISPLAY **/
#algoDisplay {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

#algoDisplay > h2 {
  width: 100%;
  margin: 0;
  background-color: #F7F7F9;
}

#algoDisplay p {
  margin-left: 20px;
}

#algoCode {
  background-color: #F7F7F9;
  margin: 20px;
  height: 300px;
}

#algoResult {
    border: 0.125rem solid #EFEFEF;
    margin: 20px;
}

#algoResult > h2 {
  width: 100%;
  margin: 0;
  background-color: #EFEFEF !important;
}
